// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* universal */

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}

.content {
    min-height: calc(100vh - 70px);
    margin-top: 15px;
}
.footer { height: 50px;}



/* order.index */

/* 橙色選項按鈕(大按鈕) */
.menu-button-big {
    /*display: inline-block;
    font-size: 40px;
    text-align:center;
    color: white;
    background: -webkit-linear-gradient(left top, #925101 , #E37D01);*/
    width: 150px;
    height: 150px;
    /*line-height:150px; */

    padding: 8px;
    background: -webkit-linear-gradient(left top, #925101, #E37D01);
    border-color: #357ebd;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    border-width: 10px;


}
